:global{
    .user-title {
        padding: 20px 0px;
        margin-top: 10px;
    }
    .exam-wrapper{
        padding:0 40px;
    }
    .exam-add-box{
        background: #fff;
        padding:20px;
        border-radius: 10px;
    }
    .ant-form-item-control{
        width:100%;
    }
}